<div class="row">
  <div class="col-6 mb-15" *ngFor="let option of paymentGatewayOptions">
    <div class="cursor-pointer shadow-3 d-flex justify-content-center align-items-center height-80 border-color-silver-chalice border-1 border-radius-8"
         [class.bg-color-malibu]="option.value === paymentGateway" (click)="paymentGateway = option.value">
      <div class="height-50 w-75">
        <img class="w-100 h-100" src="assets/icons/{{ option.value | lowercase }}.svg" alt="Payment Gateway" loading="lazy">
      </div>
    </div>
  </div>
</div>
